In [24]:
import pandas as pd

In [70]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Analysing the data

In [26]:
df = pd.read_csv('music.csv')

In [27]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [28]:
df.columns

Index(['age', 'gender', 'genre'], dtype='object')

In [29]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [30]:
df.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classical'],
       [34, 0, 'Classical'],
       [35, 0, 'Classical']], dtype=object)

In [31]:
df.shape

(18, 3)

### Splitting the data

In [55]:
X = df.drop(['genre'],axis=1)

In [56]:
y = df['genre']

### Creating an instance

In [59]:
model = DecisionTreeClassifier()

### Feeding the data to the model

In [60]:
model.fit(X,y)

DecisionTreeClassifier()

### Asking Model to make predictions (test)

In [61]:
predictions = model.predict([[21,1],[22,0]])

In [62]:
predictions

array(['HipHop', 'Dance'], dtype=object)

### Splitting the data using Train_test_split        
//It take 3 arguments (input data, output data and test size)

In [66]:
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Feeding the training data

In [67]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [68]:
predictions = model.predict(X_test)

### Testing the accuracy of the prediction data

In [71]:
Model_Accuracy_Score = accuracy_score( y_test, predictions)

In [72]:
Model_Accuracy_Score

1.0